HOST=127.0.0.1
PORT=8788
UPSTREAM_BASE_URL=https://kkk.ow800.com
UPSTREAM_AUTH_TOKEN=
UPSTREAM_AUTH_HEADER=Authorization
UPSTREAM_AUTH_SCHEME=Bearer
DEFAULT_PRODUCT_ID=3
POLLING_INTERVAL_MS=4000
MAX_POLLING_MS=120000
